.favorite-btn {
    background: none;
    border: rgb(78, 200, 94) solid 1px;
    color: rgb(78, 200, 104);
    font-size: 1.5rem;
    margin: 10px;
  }
  
  .favorite-btn:hover {
    background-color: rgb(78, 200, 104);
    color: #ffffff;
  }
  i{
      padding-top: 15px; 
  }
  .article-head{
      background-color: rgb(36, 33, 33);
      color: #ffffff;
      padding: 10px;
  }
  .comment-footer {
    background-color: #e5e5e5;
  }
  
  .comment-box {
    border: 1px solid #e5e5e5;
  }
  
  .form-control {
    border: none;
  }
  
  .post-btn {
    font-size: 0.8rem;
    background-color: #C84E90;
    border: none;
  }
  