<div class="text-sm-center">
<h1>Login</h1>
<a href="signup">Need an account?</a>
<div class="row">
    <div class="col-sm-3">

    </div>
    <div class="col-sm-6">
        <ul  style="list-style: none;">
            <li style="color: red; " *ngFor="let error of errorarr">
              {{ error }}
            </li>
          </ul>
    <form class="form-group" (ngSubmit)="authenticateUser()" [formGroup]="login">
      <input type="text" required minlength="2" formControlName="email"  class="form-control my-3 p-4" placeholder="Email" required autocomplete="off">
      <input type="password" required minlength="8" formControlName="password" class="form-control my-3 p-4" placeholder="Password" required>
      <div class="d-flex justify-content-end">
        <input type="submit" [disabled]="!login.valid" value="Sign in" class="btn btn-dark">
      </div>
    </form>
    </div>
    <div class="col-sm-3">

    </div>
  </div>
