<div class="text-sm-center">
    <h1>Sign Up</h1>
    <a href="login">Have an account?</a>
    <div class="row">
        <div class="col-sm-3">
    
        </div>
        <form class="form-group col-sm-6" (ngSubmit)="registerUser()" [formGroup]="user">
            <input type="text" formControlName="username"  class="form-control my-3 p-4" placeholder="Username" required autocomplete="off">
            <input type="text" formControlName="email"  class="form-control my-3 p-4" placeholder="Email" required autocomplete="off">
            <input type="password" formControlName="password" class="form-control my-3 p-4" placeholder="Password" required>
            <div class="d-flex justify-content-end">
              <input type="submit" value="Sign in" class="btn btn-dark">
            </div>
          </form>
        <div class="col-sm-3">
    
        </div>
      </div>