
<div class="banner text-center py-3 bg-success text-white">
    <div class="container">
     <h1 class="text-shadow">Share</h1>
     <p class="para-shadow">A place to share your knowledge</p>
   </div>
   </div>
   
   <div class="feed-toggle">
     <ul class="nav nav-pills outline-active">
      <li class="nav-item" style="display:inherit;cursor: pointer;" *ngIf="loggedin"  (click)=yourfeed() >
      <a class="nav-link" [ngClass]="{'active': tabStyleActive==false && notag==true}" >  Your Feed</a>
      </li>
      <li class="nav-item"  style="cursor: pointer;" (click)=globalfeed() >
        <a class="nav-link"  [ngClass]="{'active': (tabStyleActive==true && notag==true)}">Global Feed
          </a>
        </li>
        <li *ngIf="!notag" class="nav-item">
          <a class="nav-link"  [ngClass]="{'active': !notag}">{{tagname}}
            </a>
          </li>
        
      </ul>
   </div>
   
   <div class="container">
  <div class="row">
    <div class="col-md-9">
    <div *ngFor="let article of articles">
   <app-article-preview [task]="article"></app-article-preview>
   </div>
   
  <nav *ngIf="showpagenumbers">
      <ul class="pagination" *ngFor="let i of range; let j = index">
        <li (click)=nextPage(j) style="cursor: pointer;" class="page-item" >
          <a class="page-link">{{j+1}}</a>
        </li>
      
      </ul>
    </nav>
  </div>
<div class=" col-md-3">
  <div class="sidebar">
    <p>Popular Tags</p>
   <div (click) =filtertag(tag) style="cursor: pointer;" class="badge badge-secondary mx-1 my-1" *ngFor="let tag of tags">
       
            {{tag}}
         
   </div>
</div>
  </div>
  </div>
  </div>

