.comment-footer {
    background-color: #e5e5e5;
  }
  
  .comment-box {
    border: 1px solid #e5e5e5;
  }
  
  .form-control {
    border: none;
  }
  
  .post-btn {
    font-size: 0.8rem;
    background-color: rgb(78, 200, 119);
    border: none;
  }
  