<div class="card">
    <div class="card-block">
          <textarea  rows="4" cols="80"  class="form-control p-3">{{comment.body}}</textarea>
        </div>
          <div class="card-footer">
              <img src="{{comment.author.image}}" class="rounded-circle" height=35 width=35>
              <a href="article-writer/{{comment.author.username}}" class="username">{{comment.author.username}}</a>
            &nbsp;
              <span class="timestamp text-secondary">{{date}}</span>
            <span style="float:right;cursor: pointer;" (click)=delete(comment.id)>
            <i  class="material-icons mr-1">
                delete
            </i>
          </span>
          
      </div>
     
    </div>